@charset "utf-8";

#container {
	background-color: #000000;
    height: 1200px;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
}
#üst-container {
	background-color: black;
    height: 10%;
    width: auto;
}
#biggie {
    background-color: #000000;
    height:90%;
    width: 100%;
}
	#logo {
    background-color: #000000;
   
    float: left;
    height: 100%;
    width: 10%;
	
}

#profil {
    background-color: #000000;
    height: 100%;
    width: 100%;
	margin-top: -30px;
	margin-left: 0px;
	
}

#banner {
    background-color: #E5DBDB;
    height: 100%;
    width: 80%;
	float: left;
}
#üst-sag {
	background-color: black;
    float: right;
    height: 100%;
    width: 10%;
	}
#kayit-giris {
    background-color: #000000;
    height: 60%;
    width: 100%;
}
#cikis {
    background-color: red;
	color: white;
    height: 4.6%;
    width: 50%;
	margin-left: auto;
	text-align: center;
}
	#imdb {
	float: left;
    background-color: black;
    height: 100%;
    width: 20%;
}
#icerik {
	float: left;
    background-color: #FFFFFF;
    height: 100%;
    width: 60%;
}
#alt-sag {
    background-color: black;
	float: left;
    height: 100%;
    width: 20%;
}
#imbd-ara {
    margin-top: 10px;
    /* [disabled]margin-right: 10px; */
    /* [disabled]margin-left: 10px; */
    margin-bottom: 10px;
    height: 4%;
    width: 100%;
}
#imbd-top {
    height: 90%;
    width: 100%;
}
#menu-button {
    background-color: #000000;
	color: aliceblue;
    height: 4%;
    width: 100%;
}


#alt {
    background-color: #FF0004;
    float: right;
    height: 3%;
    width: 100%;
}


#menu-button ul{
	
	list-style: none;
	margin-top: -25px
	
}

#menu-button ul li{
	
	background-color: black;
	width: 180px;
	height: 50px;
	line-height: 40px;
	text-align:  center;
	float: left;
	color: white;
	font-size: 19px;
	position: relative;
	margin-top: -5px;
}

#menu-button ul li:hover{
	
	background-color: dimgray;
	 cursor: pointer;
	
}


#menu-button ul ul{
	
	opacity:0;
	transition: 250ms all;
	margin-top: 15px;
    left: 15;    
	max-height: 0px;
	visibility: hidden;
	margin-top: -15px;
	
}

#menu-button ul li:hover > ul{
	opacity:1;
	perspective: 1000px;
	visibility: visible;
	margin-top: 15px;
}

.logout {
   display: block;
	margin-left: 15px;
	margin-right: auto;
    position: absolute;
	transform: translateY(50%);
    width: 5%;
}



